body {
    background-color: aqua;
}

h2 {
    color: brown;
}

.container {
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 200px;
    margin-right: 200px;
    background-image: url(7b0081dd-747e-45de-97d2-100f14af075b.png);
    background-position: center;
}

.sub-head-list {
    margin-left: 20px;
    font-size: large;
}

.sub-head {
    color: brown;
    font-weight: bolder;
}